.bx-mobile header h1{ font-size: 600%; }
.bx-mobile header h2{ font-weight: 100; font-size: 150%; }

.bx-mobile-cellphone #resources h1{ font-size: 200%; font-weight: 100; }
.bx-mobile-cellphone #resources .resource-image{ width: 100%; margin-bottom: 20px; }
.bx-mobile-cellphone #resources .resource-text{ text-align: center; }