.bx-cellphone #resources h1{ font-size: 200%; font-weight: 100; }
.bx-cellphone #resources .resource-image{ width: 100%; margin-bottom: 20px; }
.bx-cellphone #resources .resource-text{ text-align: center; }